# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# EXPO
# =========================
.expo/
dist/
web-build/

# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# MACOS
# =========================
.DS_Store

# =========================
# VSCODE
# =========================
.vscode/

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*